.test-button {
    z-index: 5;
}

.custom-grid {
  display: grid;
  height: 97%;
  padding-top: 3%;
  width: 100%;
  place-items: center;
  align-items: start;
}

.card {
  height: 35rem;           /* h-96 */
  width: 30rem;            /* w-72 */
  object-fit: cover;
  background-color: white;
  border-radius: 0.5rem;   /* rounded-lg */
  transform-origin: bottom;
  transition: transform 0.125s ease;
  cursor: grab;
}

.card:active {
  cursor: grabbing;
}

.card-front {
  box-shadow: 
    0 20px 25px -5px rgba(0, 0, 0, 0.5),
    0 8px 10px -6px rgba(0, 0, 0, 0.5);
}