.select_buttons-sections {
    align-items: start;
    height: 100%;
    display: flex;
    width: 30%;
    justify-content: space-around;
    margin: 0 auto;
    z-index: 10;
}

.select_buttons-sections button {
    height: 4.5rem;
    width: 4.5rem;
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 0.2s ease-in-out;
    outline: none;
    background-color: white;
    cursor: pointer;
    position: relative;
    overflow: hidden;
    border: none;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}

@media (max-width: 768px) {
    .select_buttons-sections {
        width: 50%;
    }
    .select_buttons-sections button {
        height: 4rem;
        width: 4rem;
    }
}

.select_buttons-sections button:hover {
    transform: scale(1.05);
}

.save-button:hover {
    background-color: rgb(83, 117, 255);
}

.no-button:hover {
    background-color: rgb(255, 104, 104);
}

.maybe-button:hover {
    background-color: rgb(255, 255, 119);
}

.yes-button:hover {
    background-color: rgb(94, 202, 94);
}

button .save {
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/icons8-save-48.png');
}

button .no {
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/icons8-no-30.png');
}

button .maybe {
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/icons8-dash-30.png');
}

button .yes {
    height: 1.5rem;
    width: 1.5rem;
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url('../icons/icons8-like-50.png');
}